.navbar3-wrapper {
  display: contents;
}
.navbar3-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar3-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: idth;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.navbar3-image1 {
  height: var(--dl-size-size-medium);
  border-radius: var(--dl-radius-radius-round);
}
.navbar3-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.navbar3-links1 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.navbar3-icon-group1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
}
.navbar3-link {
  display: contents;
}
.navbar3-icon12 {
  text-decoration: none;
}
.navbar3-burger-menu {
  display: none;
}
.navbar3-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar3-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar3-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar3-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar3-logo {
  height: 3rem;
}
.navbar3-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar3-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar3-links2 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.navbar3-icon-group2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
}
.contact-fragment13 {
  display: contents;
}
.contact-text13 {
  display: inline-block;
}
.contact-fragment14 {
  display: contents;
}
.contact-text14 {
  display: inline-block;
}
.contact-fragment10 {
  display: contents;
}
.contact-text10 {
  display: inline-block;
}
.contact-fragment11 {
  display: contents;
}
.contact-text11 {
  display: inline-block;
}
.contact-fragment12 {
  display: contents;
}
.contact-text12 {
  display: inline-block;
}



@media(max-width: 767px) {
  .navbar3-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar3-desktop-menu {
    display: none;
  }
  .navbar3-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .navbar3-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .navbar3-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
}

.contact2-wrapper {
  display: contents;
}
.contact2-container {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.contact2-max-width {
  align-self: center;
}
.contact2-section-title {
  width: 100%;
  margin-bottom: var(--dl-space-space-threeunits);
}
.contact2-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact2-content2 {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contact2-content3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact2-content4 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact2-contact-info1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact2-text12 {
  align-self: flex-start;
  text-align: center;
}
.contact2-content5 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact2-contact-info2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact2-text14 {
  align-self: flex-start;
  text-align: center;
}
.contact2-content6 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact2-contact-info3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact2-text17 {
  align-self: flex-start;
  text-align: center;
}
.contact-fragment15 {
  display: contents;
}
.contact-text15 {
  display: inline-block;
}
.contact-fragment21 {
  display: contents;
}
.contact-text21 {
  display: inline-block;
}
.contact-fragment22 {
  display: contents;
}
.contact-text22 {
  display: inline-block;
}
.contact-fragment18 {
  display: contents;
}
.contact-text18 {
  display: inline-block;
}
.contact-fragment16 {
  display: contents;
}
.contact-text16 {
  display: inline-block;
}
.contact-fragment20 {
  display: contents;
}
.contact-text20 {
  display: inline-block;
}
.contact-fragment19 {
  display: contents;
}
.contact-text19 {
  display: inline-block;
}
.contact-fragment17 {
  display: contents;
}
.contact-text17 {
  display: inline-block;
}
@media(max-width: 991px) {
  .contact2-content2 {
    position: relative;
    align-items: flex-start;
    flex-direction: column;
  }
}

.contact1-wrapper {
  display: contents;
}
.contact1-container1 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.contact1-max-width {
  align-self: center;
}
.contact1-content1 {
  width: 100%;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
}
.contact1-content2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact1-content3 {
  width: 100%;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.contact1-container2 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact1-image1 {
  object-fit: cover;
}
.contact1-text12 {
  text-align: center;
}
.contact1-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.contact1-container4 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact1-image2 {
  object-fit: cover;
}
.contact1-text14 {
  text-align: center;
}
.contact1-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.contact-fragment25 {
  display: contents;
}
.contact-text25 {
  display: inline-block;
}
.contact-fragment23 {
  display: contents;
}
.contact-text23 {
  display: inline-block;
}
.contact-fragment27 {
  display: contents;
}
.contact-text27 {
  display: inline-block;
}
.contact-fragment24 {
  display: contents;
}
.contact-text24 {
  display: inline-block;
}
.contact-fragment26 {
  display: contents;
}
.contact-text26 {
  display: inline-block;
}
.contact-fragment28 {
  display: contents;
}
.contact-text28 {
  display: inline-block;
}

@media(max-width: 991px) {
  .contact1-content1 {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .contact1-content3 {
    position: relative;
    align-items: center;
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .contact1-content1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .contact1-image1 {
    width: 100%;
  }
  .contact1-image2 {
    width: 100%;
  }
}

.footer42-wrapper {
  display: contents;
}
.footer42-footer7 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.footer42-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer42-content {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer42-logo {
  gap: 24px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.footer42-image {
  width: 120px;
  height: 119px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.footer42-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
}
.footer42-credits {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.footer42-row {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.footer42-container {
  display: flex;
  align-items: flex-start;
}
.footer42-footer-links {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
.footer42-text11 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
.contact-fragment30 {
  display: contents;
}
.contact-text30 {
  display: inline-block;
}
.contact-fragment34 {
  display: contents;
}
.contact-text34 {
  display: inline-block;
}
.contact-fragment31 {
  display: contents;
}
.contact-text31 {
  display: inline-block;
}
.contact-fragment33 {
  display: contents;
}
.contact-text33 {
  display: inline-block;
}
.contact-fragment32 {
  display: contents;
}
.contact-text32 {
  display: inline-block;
}
.contact-fragment29 {
  display: contents;
}
.contact-text29 {
  display: inline-block;
}



@media(max-width: 767px) {
  .footer42-row {
    gap: var(--dl-space-space-oneandhalfunits);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .footer42-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer42-links {
    flex-direction: column;
  }
  .footer42-footer-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.contact-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.contact-fragment10 {
  display: contents;
}
.contact-text10 {
  display: inline-block;
}
.contact-fragment11 {
  display: contents;
}
.contact-text11 {
  display: inline-block;
}
.contact-fragment12 {
  display: contents;
}
.contact-text12 {
  display: inline-block;
}
.contact-fragment13 {
  display: contents;
}
.contact-text13 {
  display: inline-block;
}
.contact-fragment14 {
  display: contents;
}
.contact-text14 {
  display: inline-block;
}
.contact-fragment15 {
  display: contents;
}
.contact-text15 {
  display: inline-block;
}
.contact-fragment16 {
  display: contents;
}
.contact-text16 {
  display: inline-block;
}
.contact-fragment17 {
  display: contents;
}
.contact-text17 {
  display: inline-block;
}
.contact-fragment18 {
  display: contents;
}
.contact-text18 {
  display: inline-block;
}
.contact-fragment19 {
  display: contents;
}
.contact-text19 {
  display: inline-block;
}
.contact-fragment20 {
  display: contents;
}
.contact-text20 {
  display: inline-block;
}
.contact-fragment21 {
  display: contents;
}
.contact-text21 {
  display: inline-block;
}
.contact-fragment22 {
  display: contents;
}
.contact-text22 {
  display: inline-block;
}
.contact-fragment23 {
  display: contents;
}
.contact-text23 {
  display: inline-block;
}
.contact-fragment24 {
  display: contents;
}
.contact-text24 {
  display: inline-block;
}
.contact-fragment25 {
  display: contents;
}
.contact-text25 {
  display: inline-block;
}
.contact-fragment26 {
  display: contents;
}
.contact-text26 {
  display: inline-block;
}
.contact-fragment27 {
  display: contents;
}
.contact-text27 {
  display: inline-block;
}
.contact-fragment28 {
  display: contents;
}
.contact-text28 {
  display: inline-block;
}
.contact-fragment29 {
  display: contents;
}
.contact-text29 {
  display: inline-block;
}
.contact-fragment30 {
  display: contents;
}
.contact-text30 {
  display: inline-block;
}
.contact-fragment31 {
  display: contents;
}
.contact-text31 {
  display: inline-block;
}
.contact-fragment32 {
  display: contents;
}
.contact-text32 {
  display: inline-block;
}
.contact-fragment33 {
  display: contents;
}
.contact-text33 {
  display: inline-block;
}
.contact-fragment34 {
  display: contents;
}
.contact-text34 {
  display: inline-block;
}
