.navbar3-wrapper {
  display: contents;
}
.navbar3-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar3-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: idth;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.navbar3-navlink {
  display: contents;
}
.navbar3-image1 {
  height: var(--dl-size-size-medium);
  border-radius: var(--dl-radius-radius-round);
  text-decoration: none;
}
.navbar3-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.navbar3-links1 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.navbar3-link11 {
  text-decoration: none;
}
.navbar3-link21 {
  text-decoration: none;
}
.navbar3-link31 {
  text-decoration: none;
}
.navbar3-link41 {
  text-decoration: none;
}
.navbar3-link51 {
  text-decoration: none;
}
.navbar3-icon-group1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
}
.navbar3-link {
  display: contents;
}
.navbar3-icon12 {
  text-decoration: none;
}
.navbar3-burger-menu {
  display: none;
}
.navbar3-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar3-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar3-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar3-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar3-logo {
  height: 3rem;
}
.navbar3-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar3-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar3-links2 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.navbar3-icon-group2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
}
.registration-fragment11 {
  display: contents;
}
.registration-text11 {
  display: inline-block;
}
.registration-fragment13 {
  display: contents;
}
.registration-text13 {
  display: inline-block;
}
.registration-fragment14 {
  display: contents;
}
.registration-text14 {
  display: inline-block;
}
.registration-fragment10 {
  display: contents;
}
.registration-text10 {
  display: inline-block;
}
.registration-fragment12 {
  display: contents;
}
.registration-text12 {
  display: inline-block;
}


@media(max-width: 767px) {
  .navbar3-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar3-desktop-menu {
    display: none;
  }
  .navbar3-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .navbar3-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .navbar3-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
}

.cta26-wrapper {
  display: contents;
}
.cta26-accent2-bg {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-cardradius);
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-theme-accent2);
}
.cta26-accent2-bg:hover {
  transform: scale3d(1.1,1.1,1.1);
}
.cta26-accent1-bg {
  width: 100%;
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-2deg) skew(0deg, 0deg);
  align-items: center;
  border-radius: var(--dl-radius-radius-cardradius);
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-theme-accent1);
}
.cta26-container2 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-cardradius);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-sixunits);
}
.cta26-container2:hover {
  color: var(--dl-color-theme-neutral-light);
  background-color: var(--dl-color-theme-neutral-dark);
}
.cta26-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.cta26-actions {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.cta26-navlink {
  text-decoration: none;
}
.registration-fragment17 {
  display: contents;
}
.registration-text23 {
  display: inline-block;
  font-size: 35px;
  font-style: normal;
  font-family: "STIX Two Text";
  font-weight: 600;
  text-transform: capitalize;
}
.registration-fragment15 {
  display: contents;
}
.registration-text17 {
  display: inline-block;
  font-family: "Noto Sans";
}
.registration-fragment16 {
  display: contents;
}
.registration-text18 {
  display: inline-block;
  font-size: 18px;
  font-family: "Noto Sans";
}
@media(max-width: 767px) {
  .cta26-container2 {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
}
@media(max-width: 479px) {
  .cta26-actions {
    flex-wrap: wrap;
    align-self: stretch;
    justify-content: center;
  }
  .cta26-navlink {
    flex: 1;
  }
}

.cta26-wrapper-alni {
  display: contents;
}
.cta26-accent2-bg1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-cardradius);
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-theme-accent2);
}
.cta26-accent2-bg1:hover {
  transform: scale3d(1.1,1.1,1.1);
}
.cta26-accent1-bg1 {
  width: 100%;
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-2deg) skew(0deg, 0deg);
  align-items: center;
  border-radius: var(--dl-radius-radius-cardradius);
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-theme-accent1);
}
.cta26-container4 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-cardradius);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-sixunits);
}
.cta26-container4:hover {
  color: var(--dl-color-theme-neutral-light);
  background-color: var(--dl-color-theme-neutral-dark);
}
.cta26-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.cta26-actions1 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.cta26-navlink1 {
  text-decoration: none;
}
.registration-fragment20 {
  display: contents;
}
.registration-text28 {
  display: inline-block;
  font-size: 35px;
  font-style: normal;
  font-family: "STIX Two Text";
  font-weight: 600;
}
.registration-fragment18 {
  display: contents;
}
.registration-text24 {
  display: inline-block;
}
.registration-fragment19 {
  display: contents;
}
.registration-text25 {
  display: inline-block;
  font-size: 18px;
  font-family: "Noto Sans";
}
@media(max-width: 767px) {
  .cta26-container4 {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
}
@media(max-width: 479px) {
  .cta26-actions1 {
    flex-wrap: wrap;
    align-self: stretch;
    justify-content: center;
  }
  .cta26-navlink1 {
    flex: 1;
  }
}

.cta26-wrapper-v76a {
  display: contents;
}
.cta26-accent2-bg2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-cardradius);
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-theme-accent2);
}
.cta26-accent2-bg2:hover {
  transform: scale3d(1.1,1.1,1.1);
}
.cta26-accent1-bg2 {
  width: 100%;
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-2deg) skew(0deg, 0deg);
  align-items: center;
  border-radius: var(--dl-radius-radius-cardradius);
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-theme-accent1);
}
.cta26-container6 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-cardradius);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-sixunits);
}
.cta26-container6:hover {
  color: var(--dl-color-theme-neutral-light);
  background-color: var(--dl-color-theme-neutral-dark);
}
.cta26-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.cta26-actions2 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.cta26-navlink2 {
  text-decoration: none;
}
.registration-fragment23 {
  display: contents;
}
.registration-text31 {
  display: inline-block;
  font-size: 35px;
  font-style: normal;
  font-family: "STIX Two Text";
  font-weight: 600;
}
.registration-fragment21 {
  display: contents;
}
.registration-text29 {
  display: inline-block;
}
.registration-fragment22 {
  display: contents;
}
.registration-text30 {
  display: inline-block;
  font-size: 18px;
  font-family: "Noto Sans";
}
@media(max-width: 767px) {
  .cta26-container6 {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
}
@media(max-width: 479px) {
  .cta26-actions2 {
    flex-wrap: wrap;
    align-self: stretch;
    justify-content: center;
  }
  .cta26-navlink2 {
    flex: 1;
  }
}

.cta26-wrapper-5q2q {
  display: contents;
}
.cta26-accent2-bg3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-cardradius);
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-theme-accent2);
}
.cta26-accent2-bg3:hover {
  transform: scale3d(1.1,1.1,1.1);
}
.cta26-accent1-bg3 {
  width: 100%;
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-2deg) skew(0deg, 0deg);
  align-items: center;
  border-radius: var(--dl-radius-radius-cardradius);
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-theme-accent1);
}
.cta26-container8 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-cardradius);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-sixunits);
}
.cta26-container8:hover {
  color: var(--dl-color-theme-neutral-light);
  background-color: var(--dl-color-theme-neutral-dark);
}
.cta26-content3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.cta26-actions3 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.cta26-navlink3 {
  text-decoration: none;
}
.registration-fragment26 {
  display: contents;
}
.registration-text34 {
  display: inline-block;
  font-size: 35px;
  font-style: normal;
  font-family: "STIX Two Text";
  font-weight: 600;
}
.registration-fragment24 {
  display: contents;
}
.registration-text32 {
  display: inline-block;
}
.registration-fragment25 {
  display: contents;
}
.registration-text33 {
  display: inline-block;
  font-size: 18px;
  font-family: "Noto Sans";
}
@media(max-width: 767px) {
  .cta26-container8 {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
}
@media(max-width: 479px) {
  .cta26-actions3 {
    flex-wrap: wrap;
    align-self: stretch;
    justify-content: center;
  }
  .cta26-navlink3 {
    flex: 1;
  }
}

.footer4-wrapper {
  display: contents;
}
.footer4-footer7 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.footer4-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer4-content {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer4-logo1 {
  gap: 24px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.footer4-navlink1 {
  display: contents;
}
.footer4-logo2 {
  width: auto;
  height: 119px;
  border-radius: var(--dl-radius-radius-round);
  text-decoration: none;
}
.footer4-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
}
.footer4-credits {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.footer4-row {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.footer4-container {
  display: flex;
  align-items: flex-start;
}
.footer4-footer-links {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
.footer4-text11 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
.registration-fragment31 {
  display: contents;
}
.registration-text39 {
  display: inline-block;
}
.registration-fragment32 {
  display: contents;
}
.registration-text40 {
  display: inline-block;
}
.registration-fragment27 {
  display: contents;
}
.registration-text35 {
  display: inline-block;
}
.registration-fragment28 {
  display: contents;
}
.registration-text36 {
  display: inline-block;
}
.registration-fragment30 {
  display: contents;
}
.registration-text38 {
  display: inline-block;
}
.registration-fragment29 {
  display: contents;
}
.registration-text37 {
  display: inline-block;
}


@media(max-width: 767px) {
  .footer4-row {
    gap: var(--dl-space-space-oneandhalfunits);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .footer4-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer4-links {
    flex-direction: column;
  }
  .footer4-footer-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.registration-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.registration-fragment10 {
  display: contents;
}
.registration-text10 {
  display: inline-block;
}
.registration-fragment11 {
  display: contents;
}
.registration-text11 {
  display: inline-block;
}
.registration-fragment12 {
  display: contents;
}
.registration-text12 {
  display: inline-block;
}
.registration-fragment13 {
  display: contents;
}
.registration-text13 {
  display: inline-block;
}
.registration-fragment14 {
  display: contents;
}
.registration-text14 {
  display: inline-block;
}
.registration-fragment15 {
  display: contents;
}
.registration-text17 {
  display: inline-block;
  font-family: "Noto Sans";
}
.registration-fragment16 {
  display: contents;
}
.registration-text18 {
  display: inline-block;
  font-size: 18px;
  font-family: "Noto Sans";
}
.registration-fragment17 {
  display: contents;
}
.registration-text23 {
  display: inline-block;
  font-size: 35px;
  font-style: normal;
  font-family: "STIX Two Text";
  font-weight: 600;
  text-transform: capitalize;
}
.registration-fragment18 {
  display: contents;
}
.registration-text24 {
  display: inline-block;
}
.registration-fragment19 {
  display: contents;
}
.registration-text25 {
  display: inline-block;
  font-size: 18px;
  font-family: "Noto Sans";
}
.registration-fragment20 {
  display: contents;
}
.registration-text28 {
  display: inline-block;
  font-size: 35px;
  font-style: normal;
  font-family: "STIX Two Text";
  font-weight: 600;
}
.registration-fragment21 {
  display: contents;
}
.registration-text29 {
  display: inline-block;
}
.registration-fragment22 {
  display: contents;
}
.registration-text30 {
  display: inline-block;
  font-size: 18px;
  font-family: "Noto Sans";
}
.registration-fragment23 {
  display: contents;
}
.registration-text31 {
  display: inline-block;
  font-size: 35px;
  font-style: normal;
  font-family: "STIX Two Text";
  font-weight: 600;
}
.registration-fragment24 {
  display: contents;
}
.registration-text32 {
  display: inline-block;
}
.registration-fragment25 {
  display: contents;
}
.registration-text33 {
  display: inline-block;
  font-size: 18px;
  font-family: "Noto Sans";
}
.registration-fragment26 {
  display: contents;
}
.registration-text34 {
  display: inline-block;
  font-size: 35px;
  font-style: normal;
  font-family: "STIX Two Text";
  font-weight: 600;
}
.registration-fragment27 {
  display: contents;
}
.registration-text35 {
  display: inline-block;
}
.registration-fragment28 {
  display: contents;
}
.registration-text36 {
  display: inline-block;
}
.registration-fragment29 {
  display: contents;
}
.registration-text37 {
  display: inline-block;
}
.registration-fragment30 {
  display: contents;
}
.registration-text38 {
  display: inline-block;
}
.registration-fragment31 {
  display: contents;
}
.registration-text39 {
  display: inline-block;
}
.registration-fragment32 {
  display: contents;
}
.registration-text40 {
  display: inline-block;
}
