<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Raw To Runway</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./hero81.css" rel="stylesheet" />
      <div class="hero81-header26 thq-section-padding">
        <div class="hero81-max-width thq-flex-column thq-section-max-width">
          <div class="hero81-column">
            <div class="hero81-content">
              <h1 class="hero81-text10 thq-heading-1">
                <fragment class="hero81-fragment3">
                  <span class="hero81-text52">Welcome to Raw to Runway</span>
                </fragment>
              </h1>
              <p class="hero81-text11 thq-body-large">
                <fragment class="hero81-fragment1">
                  <span class="hero81-text13">
                    <span>
                      Welcome to RAW TO RUNWAY, the most anticipated fashion
                      extravaganza in the heart of India. Established in 2017,
                      Delhi Runway Week has rapidly ascended to become a
                      cornerstone event in the global fashion calendar,
                      attracting designers, models, fashion enthusiasts, and
                      industry experts from around the world.
                    </span>
                    <br />
                    <br />
                    <span class="hero81-text17">Our Mission</span>
                    <br />
                    <span>
                      At RAW TO RUNWAY, our mission is to celebrate and promote
                      the diversity and creativity of fashion. We aim to provide
                      a dynamic platform for emerging and established designers
                      to showcase their talent, fostering innovation and setting
                      trends that influence the global fashion landscape. We are
                      committed to excellence, inclusivity, and sustainability,
                      ensuring that every show not only dazzles the audience but
                      also respects and reflects the evolving values of our
                      society.
                    </span>
                    <br />
                    <br class="hero81-text21" />
                    <span class="hero81-text22">What We Do</span>
                    <br class="hero81-text23" />
                    <span class="hero81-text24">Fashion Shows:</span>
                    <span class="hero81-text25"></span>
                    <span>
                      We host a series of stunning runway shows featuring
                      collections from top-tier designers, rising stars, and
                      international fashion houses. Each show is meticulously
                      curated to highlight the unique vision and artistry of the
                      designers, providing them with an unparalleled platform to
                      present their latest creations.
                    </span>
                    <br />
                    <br />
                    <span class="hero81-text29">Exhibitions and Pop-Ups:</span>
                    <span>
                      Our event includes exclusive exhibitions and pop-up shops,
                      offering attendees the opportunity to experience and
                      purchase cutting-edge fashion and accessories firsthand.
                      These spaces also allow designers to interact directly
                      with their audience, fostering a deeper connection between
                      creators and consumers.
                    </span>
                    <br />
                    <br />
                    <span class="hero81-text33">Workshops and Panels:</span>
                    <span>
                      Education and dialogue are key components of RAW TO
                      RUNWAY. We organize workshops and panel discussions with
                      industry leaders, covering topics such as sustainable
                      fashion, innovative design techniques, and the future of
                      the fashion industry. These sessions provide valuable
                      insights and inspiration for both aspiring designers and
                      fashion enthusiasts.
                    </span>
                    <br />
                    <br class="hero81-text36" />
                    <span class="hero81-text37">Networking Opportunities:</span>
                    <span>
                      RAW TO RUNWAY is a hub for networking, bringing together a
                      diverse array of professionals from the fashion industry.
                      From designers and models to buyers and media, our event
                      facilitates meaningful connections and collaborations that
                      drive the industry forward.
                    </span>
                    <br />
                    <br />
                    <span class="hero81-text41">Our Impact</span>
                    <br class="hero81-text42" />
                    <span>
                      RAW TO RUNWAY is more than just a fashion event; it’s a
                      cultural phenomenon that reflects the vibrant spirit of
                      Delhi and the dynamic nature of the global fashion
                      industry. We are proud to have launched the careers of
                      numerous designers and models, many of whom have gone on
                      to achieve international acclaim. Our commitment to
                      sustainability and ethical fashion practices has also set
                      new standards within the industry, inspiring change and
                      promoting a more responsible approach to fashion.
                    </span>
                    <br />
                    <br />
                    <span class="hero81-text46">Join Us</span>
                    <br class="hero81-text47" />
                    <span>
                      We invite you to be part of the RAW TO RUNWAY Whether
                      you’re a designer looking to showcase your work, a fashion
                      enthusiast eager to witness the latest trends, or a
                      professional seeking to expand your network, Delhi Runway
                      Week offers something for everyone. Join us for an
                      unforgettable celebration of fashion, creativity, and
                      innovation.
                    </span>
                    <br />
                    <br />
                  </span>
                </fragment>
              </p>
              <div class="hero81-actions">
                <a
                  href="registration.html"
                  class="hero81-button thq-button-outline"
                >
                  <span class="thq-body-small">
                    <fragment class="hero81-fragment2">
                      <span class="hero81-text51">Join Now</span>
                    </fragment>
                  </span>
                </a>
              </div>
            </div>
          </div>
          <img
            alt="Raw to Runway Fashion Event"
            src="https://images.unsplash.com/photo-1683971336619-d445cbec0276?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyOTcwNTQ1N3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
            class="thq-img-ratio-16-9"
          />
        </div>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
