.timeline41-max-width {
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
}
.timeline41-container11 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.timeline41-text11 {
  text-align: left;
}
.timeline41-container12 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.timeline41-timeline-container {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.timeline41-step1 {
  display: flex;
  position: relative;
  justify-content: center;
}
.timeline41-container13 {
  flex: 1;
  left: var(--dl-space-space-halfunit);
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline41-container14 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: #000000;
}
.timeline41-progress01 {
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline41-container15 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.timeline41-text13 {
  text-align: left;
}
.timeline41-container16 {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}
.timeline41-step2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.timeline41-container17 {
  flex: 1;
  left: var(--dl-space-space-halfunit);
  width: auto;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline41-container18 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: #000000;
}
.timeline41-progress02 {
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline41-container19 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.timeline41-text16 {
  text-align: left;
}
.timeline41-container20 {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}
.timeline41-step3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.timeline41-container21 {
  flex: 1;
  left: var(--dl-space-space-halfunit);
  width: auto;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline41-container22 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: #000000;
}
.timeline41-progress03 {
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline41-container23 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.timeline41-text19 {
  text-align: left;
}
.timeline41-container24 {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}
.timeline41-step4 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.timeline41-container25 {
  flex: 1;
  left: var(--dl-space-space-halfunit);
  width: auto;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline41-container26 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: #000000;
}
.timeline41-progress04 {
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline41-container27 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.timeline41-text22 {
  text-align: left;
}
.timeline41-container28 {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}
.timeline41-fragment10 {
  display: contents;
}
.timeline41-fragment11 {
  display: contents;
}
.timeline41-fragment12 {
  display: contents;
}
.timeline41-fragment13 {
  display: contents;
}
.timeline41-fragment14 {
  display: contents;
}
.timeline41-fragment15 {
  display: contents;
}
.timeline41-fragment16 {
  display: contents;
}
.timeline41-fragment17 {
  display: contents;
}
.timeline41-fragment18 {
  display: contents;
}
.timeline41-fragment19 {
  display: contents;
}
.timeline41-fragment20 {
  display: contents;
}
.timeline41-fragment21 {
  display: contents;
}
.timeline41-fragment22 {
  display: contents;
}
.timeline41-fragment23 {
  display: contents;
}
@media(max-width: 991px) {
  .timeline41-max-width {
    gap: var(--dl-space-space-twounits);
  }
}
@media(max-width: 767px) {
  .timeline41-max-width {
    flex-direction: column;
  }
  .timeline41-text11 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .timeline41-text13 {
    text-align: left;
  }
  .timeline41-text16 {
    text-align: left;
  }
  .timeline41-text19 {
    text-align: left;
  }
  .timeline41-text22 {
    text-align: left;
  }
}
@media(max-width: 479px) {
  .timeline41-container11 {
    gap: var(--dl-space-space-unit);
  }
  .timeline41-container12 {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
  .timeline41-timeline-container {
    width: 100%;
  }
  .timeline41-container16 {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
  .timeline41-container20 {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
  .timeline41-container24 {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
  .timeline41-container28 {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
}
